// nextflow.config

process.executor = 'local'

//cleanup after successful run
cleanup = false
conda.enabled = true
docker.enabled = true
singularity {
    enabled = false
    autoPullMode = true
    autoMounts = true
    cacheDir = "$HOME/nxf_singularity_cache"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH,MPLCONFIGDIR'
    pullTimeout = '30 min'
}

//Fail on any error in bash script
process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {
    slurm {
        executor {
            name = 'slurm'
            queue = 'norm'
            pollInterval = '2min'
            queueStatInterval = '5min'
            submitRateLimit = '6/1min'
            retry.maxAttempts = 1
                }
            }
}
