// nextflow.config

process.executor = 'slurm'

//cleanup after successful run
cleanup = false
timeline {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.timeline.html"
}

report {
  enabled = true
  file    = "${params.outdir ?: 'results'}/pipeline.report.html"
}

trace {
  enabled   = true
  file      = "${params.outdir ?: 'results'}/pipeline.trace.txt"
  fields    = 'task_id,process,tag,status,exit,submit,start,complete,duration,realtime,%cpu,peak_rss,peak_vmem,rss,vmem'
}

conda {
  enabled       = true
  useMamba      = true
  cacheDir      = "/data/$USER/.nxf-conda"

}
singularity {
    enabled = true
    autoPullMode = true
    autoMounts = true
    cacheDir = "/data/$USER/nxf_singularity_cache"
    envWhitelist = 'https_proxy,http_proxy,ftp_proxy,DISPLAY,SLURM_JOB_ID,SINGULARITY_BINDPATH,MPLCONFIGDIR'
    pullTimeout = '30 min'
}

//Fail on any error in bash script
process.shell = ['/bin/bash', '-euo', 'pipefail']

profiles {
    slurm {
        executor {
            name = 'slurm'
            queue = 'norm'
            pollInterval = '2min'
            queueStatInterval = '5min'
            submitRateLimit = '6/1min'
            retry.maxAttempts = 1
                }
            }
}
